body {
  overflow: hidden;
  font-family: microsoft yahei, sans-serif
}

/* 游戏容器*/
#stage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  border: 10px solid #f0f0f0;
  padding: 0
}

/* ready go!  */
#stage > #ready {
  user-select: none;
  text-align: center;
  font-size: 1em;
  color: red
}

/* 按键 */
#stage .buttonGroup a {
  margin-top: 30px
}

/* 救护车 */
#stage .ambulance {
  width: 30px;
  height: 64px;
  position: absolute;
  background: url('../res/img/ambulance.png') center no-repeat;
  background-size: auto;
  z-index: 3
}

/* 胶囊 */
#stage .capsule {
  width: 14px;
  height: 26px;
  background: url('../res/img/capsule.png');
  position: absolute;
  z-index: 2
}

/* 病毒 */
#stage .virus {
  width: 64px;
  height: 64px;
  background: url('../res/img/virus.png');
  position: absolute;
  transform: rotate(0);
  animation: virusRetate 2s linear infinite;
  -webkit-animation: virusRetate 2s linear infinite;
  z-index: 3
}

/* 分数 */
#stage .score {
  width: 220px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
  font-size: 16px;
  z-index: 5
}

/* 结算 */
#stage .tips {
  text-align: center;
  line-height: 40px;
  padding: 10px;
  z-index: 4
}

/* 结算信息 */
#stage .tips p {
  text-align: center;
  cursor: pointer;
}

/* 结算信息分数样式 */
#stage .tips .s {
  padding: 2px 10px;
  font-weight: bold;
  color: blue
}

/* 高斯模糊背景 */
.mask_bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  background: url(../res/bg.jpeg) no-repeat 0 0;
  background-size: cover;
  filter: blur(15px) grayscale(.3);
}

/* 动画列表 */
@keyframes virusRetate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes virusRetate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}